<header class="main-header-1">
    <head>
      <link
        rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
        integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N"
        crossorigin="anonymous"
      />
    </head>
   
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#"><h2 class="medihead">Medicare</h2></a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a
              class="nav-link"
              routerLink="/admin"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              >Admin <span class="sr-only">(current)</span></a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              routerLink="/user"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              >User</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              routerLink="/about"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              >About Us</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              routerLink="/contact"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              >Contact Us</a
            >
          </li>
        </ul>
      </div>
    </nav>
   
    <!-- <div>
          <img src="./logo.jpg" class="img-fluid" alt="logo">
        <a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="logo">
          <img src="https://static.vecteezy.com/system/resources/previews/006/623/239/non_2x/medicare-medical-health-3d-natural-capsule-modern-medicine-logo-vector.jpg" height="70px" width="140px">
        </a>
        </div> -->
    <!--
        <nav class="navigation">
            <a routerLink="/admin" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="main-items">Admin</a>
            <a routerLink="/user" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="main-items">User</a>
            <a routerLink="/about" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="main-items">About Us</a>
            <a routerLink="/contact" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="main-items"> Contact Us</a>
     
        </nav> -->
  </header>
   
  <router-outlet></router-outlet>