<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
      integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N"
      crossorigin="anonymous"
    />

    <title>Hello, world!</title>
  </head>
  <body>
    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <script
      src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
      crossorigin="anonymous"
    ></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js" integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+" crossorigin="anonymous"></script>
    -->
  </body>
</html>
<div>
  <div id="sect1">
    <header class="main-header-1">
      <div>
        <a
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          class="logo"
          >Medicare</a
        >
      </div>
      <nav class="navigation">
        <a
          routerLink="/userpage"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          class="main-items"
          >Back</a
        >
        <a
          routerLink=""
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          class="main-items"
          >Log-out</a
        >
      </nav>
    </header>
    <router-outlet></router-outlet>
    <h1 class="ycart" style="text-align: center">Your Cart</h1>

    <!-- <div class="doc" style="text-align:center;">
          <table border="5" class="table table-hover table-info table-dark" align="center" bordercolor="black"
              style="width: 1000px;">
              <tr style="font-family: 'Times New Roman', Times, serif;">

                  <th>Medicine</th>
                  <th>Desccription</th>
                  <th>Price</th>
                  <th>Proceed For Payment</th>
                  <th>Remove From Cart</th>

              </tr>
              <tr *ngFor="let cart of carts"
                  style="font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">

                  <td>{{cart.medicineName}}</td>
                  <td>{{cart.description}}</td>
                  <td>{{cart.price}}</td>
                  <td> <a routerLink="/billing/{{cart.medicineId}}" class="button">BUY NOW</a></td>
                  <td> <button (click)="deleteCart(cart.medicineId)" class="buttonon">REMOVE FROM CART</button></td>

              </tr>
          </table>
         <button class="dropdown-item" (click)="payment()">Proceed to checkout</button>

  </div> -->

    <div style="text-align: center">
      <table class="table table-dark" style="text-align: center">
        <thead>
          <tr>
            <th
              style="
                color: lightgreen;
                font-family: Georgia, 'Times New Roman', Times, serif;
              "
            >
              Medicine
            </th>
            <th
              style="
                color: lightgreen;
                font-family: Georgia, 'Times New Roman', Times, serif;
              "
            >
              Description
            </th>
            <th
              style="
                color: lightgreen;
                font-family: Georgia, 'Times New Roman', Times, serif;
              "
            >
              Price
            </th>
            <th
              style="
                color: lightgreen;
                font-family: Georgia, 'Times New Roman', Times, serif;
              "
            >
              Proceed For Payment
            </th>
            <th
              style="
                color: lightgreen;
                font-family: Georgia, 'Times New Roman', Times, serif;
              "
            >
              Remove From Cart
            </th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="let cart of carts"
            style="
              font-family: 'Trebuchet MS', 'Lucida Sans Unicode',
                'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            "
          >
            <td>{{ cart.medicineName }}</td>
            <td>{{ cart.description }}</td>
            <td>{{ cart.price }}</td>
            <td>
              <a routerLink="/billing/{{ cart.medicineId }}" class="button"
                >BUY NOW</a
              >
            </td>
            <td>
              <button (click)="deleteCart(cart.medicineId)" class="buttonon">
                REMOVE FROM CART
              </button>
            </td>
          </tr>
        </tbody>
      </table>
      <!--<button class="dropdown-item" (click)="payment()">Proceed to checkout</button>-->
    </div>
  </div>
  <router-outlet></router-outlet>

  <div>
    <app-footer></app-footer>
  </div>
</div>