<div id="sect1"class="container">
  <header class="main-header-1">
      <div>
          <a routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="logo">E-Medicare</a>
          </div>
          <nav class="navigation">
              <a routerLink="/adminpage" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="main-items">Back</a>
              <a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="main-items">Log-out</a>
          </nav>
  </header>

  
<div class="container" style="text-align: left;">
<form class="Add_Med" #s="ngForm" (ngSubmit)="onSubmit(s)">
  <div class="container1">
		<div class="contact-box">
			<div class="left"></div>
			<div class="right">
				<h2>Add Medicine</h2>
				<input type="text" class="field" placeholder="Medicine Name"  name="medicineName" ngModel #medicineName="ngModel">
				<input type="date" class="field" placeholder="Medicine Manufacture Date" name="manufactureDate" ngModel #manufactureDate="ngModel">
				<input type="text" class="field"  placeholder="Medicine Type" name="type" ngModel #type="ngModel">
        <input type="text" class="field"  placeholder="Medicine Price" name="price" ngModel #price="ngModel">
        <input type="text" class="field"  placeholder="Medicine Description"  name="description" ngModel #description="ngModel">
        <input type="date" class="field"  placeholder="Medicine Expiry Date" name="expdate" ngModel #expireDate="ngModel">
        <input type="text" class="field"  placeholder="Medicine Available Status"  name="status" ngModel #status="ngModel">
        <input type="text" class="field"  placeholder="Medicine Seller Name" name="seller" ngModel #seller="ngModel">
				<button class="btn">Add Medicine</button>
			</div>
		</div>
	</div>
  </form></div></div>