<app-header></app-header>
<div id="sect1" ></div>
<head>
  <link href="https://fonts.googleapis.com/css?family=Quicksand&display=swap" rel="stylesheet">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0">
</head>
<body>
  
  
<form #s="ngForm" style="padding: 100px;" (ngSubmit)="onSubmit(s)">
  <div class="container">
		<div class="contact-box">
			<div class="left"></div>
			<div class="right">
				<h2>Contact Us</h2>
				<input type="text" class="field" name="name" placeholder="Your Name" ngModel #name="ngModel">
				<input type="text" class="field" name="email_id" placeholder="Your Email" ngModel #email_id="ngModel">
				<input type="text" class="field" name="contact_no" placeholder="Phone" ngModel #contact_no="ngModel">
				<textarea placeholder="Message" name="description" class="field" ngModel #description="ngModel">
        </textarea>
				<button class="btn">Send</button>
			</div>
		</div>
	</div>
</form>

      
      </body>
    
<router-outlet></router-outlet>
