<app-header></app-header>
<div id="sect1"></div>
<div class="container">
<router-outlet></router-outlet>


<div class="admin-main">
        <form #f="ngForm" (ngSubmit)="onSubmit(f)">
        <body>
          <div class="container">
            <div class="contact-box">
              <div class="left"></div>
              <div class="right">
                <h2>Admin Login</h2><br>
                <input type="Username" class="field" name="username" placeholder="Enter Your UserName" ngModel #username="ngModel">
                <input type="password" class="field" name="password" placeholder="Enter Your Password" ngModel #password="ngModel">
                <button class="btn1">Login</button>
              </div>
            </div>
          </div>
</body>
    </form> 
   
    </div>